<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <properties resource="db.properties">
    </properties>

    <settings>
        <!-- 要开延迟加载（延迟才读入另外一个表的数据），只需要加下面这两条设置（当然也要在mapper那里设置一下） -->
        <setting name="lazyLoadingEnabled" value="true"/>
        <setting name="aggressiveLazyLoading" value="false"/>
    </settings>


    <typeAliases>
        <package name="Nillouise"/>
    </typeAliases>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${dataSource.driverClass}"/>
                <!--<property name="url" value="jdbc:mysql://localhost:3306/mindanchor?characterEncoding=UTF-8&amp;serverTimezone=CST"/>-->
                <!-- 我电脑用的好像是CST时区（在java.date里看到的），这里用UTC时区好像会出问题，导致时间不一致 -->
                <!--更新：不会不一致，数据库里保存的是UTC时区，但查询时会自动转换过来 -->
                <property name="url" value="${dataSource.jdbcUrl}"/>
                <property name="username" value="${dataSource.user}"/>
                <property name="password" value="${dataSource.password}"/>
            </dataSource>
        </environment>
    </environments>
    <!--<mappers>-->
        <!--&lt;!&ndash;<mapper resource="UserMapper.xml"/>&ndash;&gt;-->
        <!--&lt;!&ndash;<mapper class="Nillouise.dao.UserMapper"/>&ndash;&gt;-->
        <!--<mapper resource="mapper/TieziMapper.xml"/>-->
        <!--<mapper resource="mapper/UserMapper.xml"/>-->
        <!--<mapper resource="mapper/DocumentMapper.xml"/>-->
        <!--<mapper resource="mapper/FloorMapper.xml"/>-->
        <!--&lt;!&ndash;<mapper resource="mapper"/>&ndash;&gt;-->
        <!--&lt;!&ndash;<mapper class="Nillouise.dao.TieziMapper"/>&ndash;&gt;-->
        <!--&lt;!&ndash;<package name="Nillouise.dao"/>&ndash;&gt;-->
        <!--&lt;!&ndash;<mapper class="Nillouise.mapper.UserInfoMapper"/>&ndash;&gt;-->
        <!--&lt;!&ndash;<mapper url="file:///main/java/Nillouise/mapper/UserInfo.xml"></mapper>&ndash;&gt;-->
    <!--</mappers>-->
</configuration>