<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Nillouise.dao.FloorMapper">

    <resultMap id="floorRM" type="Nillouise.model.Floor">
        <id property="id" column="id"/>
        <result property="content" column="content"/>
        <result property="userid" column="userid"/>
        <result property="zan" column="zan"/>
        <result property="cai" column="cai"/>
        <association property="user" fetchType="lazy" column="userid" select="Nillouise.dao.UserMapper.selectUser"/>
    </resultMap>

    <select id="getFloors" resultMap="floorRM" parameterType="int">
        select * from floor_inf where tieziid = #{id}
    </select>

    <insert id="addFloor" parameterType="Nillouise.model.Floor" keyProperty="id" useGeneratedKeys="true">
        insert floor_inf set userid=#{userid},tieziid=#{tieziid},content=#{content}
    </insert>

    <update id="updateFloor" parameterType="Nillouise.model.Floor">
        update floor_inf set userid=#{userid},tieziid=#{tieziid},content=#{content},zan=#{zan},cai=#{cai} where id=#{id}
    </update>

    <select id="selectFloor" resultMap="floorRM" parameterType="int">
        select * from floor_inf where id=#{id}
    </select>

    <select id="searchfloor" resultMap="floorRM">
        select * from floor_inf where content like #{keyword}
    </select>

    <select id="searchByUsername" resultMap="floorRM">
        select * from floor_inf where userid=(select id from user_inf where username=#{username})
    </select>

</mapper>