<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Nillouise.dao.TiebaMapper">



    <!--这句resultMap 导致mybatis根本没启动起来，还害得我以为是其他地方出错（因为mybatis没启动起来，弄得其他地方也像是出错了） -->
    <!--<select id="selectTieba" resultMap="Nillouise.model.Tieba">-->
    <select id="selectTieba" resultType="Nillouise.model.Tieba">
        select * from tieba_inf WHERE tiebaname=#{tiebaname}
    </select>

    <select id="getALL" resultType="Nillouise.model.Tieba">
        select * from tieba_inf
    </select>


    <insert id="createTieba" parameterType="Nillouise.model.Tieba" keyProperty="id" useGeneratedKeys="true">
        insert tieba_inf set tiebaname=#{tiebaname}
    </insert>

</mapper>